<div class="mainview__header container--horizontal">
    <div class="header__items container--horizontal">
        <div class="header__item">
            <a href="#">omelched.dev</a>
        </div>
        <div class="header__item">
            <a href="#">blog</a>
        </div>
        <div class="header__item">
            <a href="#">apps</a>
        </div>
        <div class="header__item">
            <a href="#">projects</a>
        </div>
        <div class="header__item">
            <a href="#">about</a>
        </div>
    </div>
    <div class="header__item container--emoji dropdown container--hidden_on_start">
        <div class="container--emoji dropdown__trigger">
            🍔
        </div>
        <div class="dropdown__content container--vertical container--drop_shadow">
            <a href="#" class="container--hidden_on_start">blog</a>
            <a href="#" class="container--hidden_on_start">apps</a>
            <a href="#" class="container--hidden_on_start">projects</a>
            <a href="#">about</a>
        </div>
    </div>
</div>